<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.standstreet.open.dao.UserMyBatisDao">
    <!--<resultMap id="UserMap" type="com.standstreet.open.entity.User">-->
        <!--<id column="id" property="id" jdbcType="VARCHAR"/>-->
        <!--<result column="login_name" property="loginName" jdbcType="VARCHAR"/>-->
        <!--<result column="password" property="password" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->
    <sql id="All_Column_Values">
        id,uuid,login_name,salt,encode_password,online,phone,email,qq
    </sql>

    <select id="findUserByLoginName" resultMap="com.standstreet.open.entity.User" parameterType="java.lang.String">
        SELECT
        <include refid="All_Column_Values"/>
        FROM ss_user
        WHERE login_name=#{0}
    </select>

    <select id="findUserByUuid" resultMap="com.standstreet.open.entity.User" parameterType="java.lang.String">
        SELECT
        <include refid="All_Column_Values"/>
        FROM ss_user
        WHERE uuid=#{0}
    </select>

</mapper>
